{% extends "admin/base_admin.html" %}
{% load static %}


{% block titulo_pestania %}Añadir Catastro Vehiculos{% endblock titulo_pestania %}

{% block contenido_dinamico %}
<link rel="stylesheet" href="{% static 'css/admin/mantencion_correctiva.css' %}">
<link rel="stylesheet" href="{% static 'css/ventanaModal.css' %}">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">
	{% if request.user.cargo == 'administrador' %}
	<div id="contenedor-formulario">
		<div class="titulo-">
			<h2>Mantencion Correctiva</h2>
		</div>
       

		<form action="" method="POST">
			{% csrf_token %}
			<div>
				<input type="text" required placeholder="Servicio de salud" name="servicio-salud">
				<input type="text" required placeholder="Establecimiento" name="establecimiento">
                <input type="text" required placeholder="Descripción de compra" name="descripcion_compra">
			</div>

           
            <div>
                <select name="mantenimiento" id="">
                    <option value="" disabled selected>TIPO DE GASTO CORRECTIVO</option>
                    <option value="MANTENIMIENTO CORRECTIVO">MANTENIMIENTO CORRECTIVO</option>
                    <option value="ADQUISICIÓN DE REPUESTOS">ADQUISICIÓN DE REPUESTOS</option>
                    <option value="ADQUISICIÓN DE INSUMOS">ADQUISICIÓN DE INSUMOS</option>
                    <option value="ADQUISICION DE ACCESORIOS">ADQUISICION DE ACCESORIOS</option>
                    <option value="OTRO">OTRO</option>
                </select>

                <input type="number" required placeholder="Monto" name="monto">
                <input type="text" required placeholder="Subsignacion SIGFE" name="subsignacion-sigfe">
            </div>

			<div>
                
                <select name="tipo" id="">
					<option value="" disabled selected>Seleccione una opción tipo</option>
					<option value="Medico">Medico</option>
					<option value="Industrial">Industrial</option>
					<option value="Vehiculo">Vehiculo</option>
				</select>

                <select name="institucion">
                    <option value="" disabled selected>Seleccione una ciudad</option>
                    <option value="1">Lebu</option>
                    <option value="2">Arauco</option>
                    <option value="4">Cañete</option>
                    <option value="3">Curanilahue</option>
                    <option value="5">Contulmo</option>
                </select>
            
			</div>

            	            
			<div>
                <input type="submit" value="Agregar">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li style="color: green;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>





		</form>
	</div>
	{% elif request.cargo.user == 'usuario' %}
	<div id="contenedor-formulario" class="usuario">
		<div class="titulo-">
			<h2>Mantencion Correctiva</h2>
		</div>
       

		<form action="" method="POST">
			{% csrf_token %}
			<div>
				<input type="text" required placeholder="Servicio de salud" name="servicio-salud">
				<input type="text" required placeholder="Establecimiento" name="establecimiento">
                <input type="text" required placeholder="Descripción de compra" name="descripcion_compra">
			</div>

           
            <div>
                <select name="tipo_gasto_correctivo" id="">
                    <option value="" disabled selected>TIPO DE GASTO CORRECTIVO</option>
                    <option value="MANTENIMIENTO CORRECTIVO">MANTENIMIENTO CORRECTIVO</option>
                    <option value="ADQUISICIÓN DE REPUESTOS">ADQUISICIÓN DE REPUESTOS</option>
                    <option value="ADQUISICIÓN DE INSUMOS">ADQUISICIÓN DE INSUMOS</option>
                    <option value="ADQUISICION DE ACCESORIOS">ADQUISICION DE ACCESORIOS</option>
                    <option value="OTRO">OTRO</option>
                </select>

                <input type="number" required placeholder="Monto" name="monto">
                <input type="text" required placeholder="Subsignacion SIGFE" name="subsignacion_sigfe">
            </div>

			<div>
                
                <select name="tipo" id="">
					<option value="" disabled selected>Seleccione una opción tipo</option>
					<option value="Medico">Medico</option>
					<option value="Industrial">Industrial</option>
					<option value="Vehiculo">Vehiculo</option>
				</select>

                <select name="institucion">
                    <option value="" disabled selected>Seleccione una ciudad</option>
                    <option value="1">Lebu</option>
                    <option value="2">Arauco</option>
                    <option value="4">Cañete</option>
                    <option value="3">Curanilahue</option>
                    <option value="5">Contulmo</option>
                </select>
            
			</div>

            
			<div>
                <input type="submit" value="Agregar">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li style="color: green;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>





		</form>
	</div>
	{% endif %}





	{% if request.user.cargo == 'administrador' %}
	<div id="contenedor-tabla">
		<div class="tabla">
			<table id="tabla">
				<thead>
					<tr>
						
						<th>Servico Salud</th>
						<th>Establecimiento</th>
                        <th>Descripción Compra</th>
                        <th>Tipo de Gasto Correctivo</th>
						<th>Monto</th>
                        <th>Subsignacion SIGFE</th>
                        <th>Tipo</th>
                        
					</tr>
				</thead>
				<tbody>
					<tr v-for="data in data_tabla" :key="data.id">
						
						<td>${ data.fields.servicio_salud }</td>
						<td>${ data.fields.establecimiento }</td>
						<td>${ data.fields.descripcion_compra }</td>
                        <td>${data.fields.tipo_gasto_correctivo}</td>
						<td>${ data.fields.monto }</td>
                        <td>${data.fields.subsignacion_sigfe}</td>
						<td>${ data.fields.tipo }</td>
					</tr>
				</tbody>
			</table>
		</div>

        
	</div>
	{% elif request.user.cargo == 'usuario' %}
	<div id="contenedor-tabla" class="usuario">
		<div class="tabla">
			<table id="tabla">
				<thead>
					<tr>
						
						<th>Servico Salud</th>
						<th>Establecimiento</th>
                        <th>Descripción Compra</th>
                        <th>Tipo de Gasto Correctivo</th>
						<th>Monto</th>
                        <th>Subsignacion SIGFE</th>
                        <th>Tipo</th>
                        
					</tr>
				</thead>
				<tbody>
					<tr v-for="data in data_tabla" :key="data.id">
						
						<td>${ data.fields.servicio_salud }</td>
						<td>${ data.fields.establecimiento }</td>
						<td>${ data.fields.descripcion_compra }</td>
                        <td>${data.fields.tipo_gasto_correctivo}</td>
						<td>${ data.fields.monto }</td>
                        <td>${data.fields.subsignacion_sigfe}</td>
						<td>${ data.fields.tipo }</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}



</div>

<script src="{% static 'js/admin/mantencion_correctiva.js' %}"></script>









{% endblock contenido_dinamico %}